@model IEnumerable<CheckingASPNET.Models.TestEntity>


<div>
    <h4>TestEntity</h4>
    <hr />
    <table>
        @foreach (var item in Model)
        {
                <div class="form-group">
                    <div class="col-md-10">
                        @item.Nombre
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @item.Apellido
                    </div>
                </div>

                
        }
    </table>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
